.portfolio, .portfolio * {
    box-sizing: border-box;
    }
.portfolio {
   background: #ffffff;
    width: 1440px;
    height: 7222px;
    position: relative;
   }

.footer {
   position: absolute;
    inset: 0;
   }

.background {
   background: #d8d8d8;
    opacity: 0.2217029333114624;
    width: 1440px;
    height: 128px;
    position: absolute;
    left: 0px;
   top: 7094px;
   }

.john-doe-2020 {
   color: #6d6d6d;
    text-align: left;
    font: 400 18px/36px 'Poppins', sans-serif, 'bold';
    opacity: 0.800000011920929;
    position: absolute;
    left: 604px;
   top: 7143px;
    width: 230px;
    height: 22.15px;
   }

.projects {
   position: absolute;
    inset: 0;
   }

.project-1 {
   display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 112px;
   top: calc(50% - 485px);
   }

.title-1 {
   color: #999999;
    text-align: right;
    font: 700 100px 'Poppins', sans-serif;
    position: relative;
   }

.project-2 {
   display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 891px;
   top: 4839px;
   }

.projects-title {
   color: #999999;
    text-align: left;
    font: 700 80px 'Poppins', sans-serif;
    position: absolute;
    left: 106px;
   top: 2077px;
   }

.work {
   display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1216px;
    position: absolute;
    left: 110px;
   top: 1418px;
   }

.work-title {
   color: #999999;
    text-align: left;
    font: 700 80px 'Poppins', sans-serif;
    position: relative;
   }

.champs-trophy {
   flex-shrink: 0;
    width: 1216.03px;
    height: 152px;
    position: static;
   }

.frame-2 {
   padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: -0.03px;
   top: 156px;
   }

.workplace-platform-m {
   color: #6d6d6d;
    text-align: justified;
    font: 400 18px/33px 'Poppins', sans-serif;
    position: relative;
    width: 596.03px;
   }

.december-2016 {
   color: #7e7c7c;
    text-align: left;
    font: 500 18px/36px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 0px;
   top: 214px;
    width: 300.15px;
   }

.champs-trophy2 {
   color: #6d6d6d;
    text-align: left;
    font: 500 30px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: 175px;
    width: 459.73px;
   }

.envoy-mobile {
   flex-shrink: 0;
    width: 1175.14px;
    height: 99px;
    position: static;
   }

.workplace-platform-m2 {
   color: #6d6d6d;
    text-align: justified;
    font: 400 18px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 610px;
   top: 344px;
    width: 565.14px;
   }

.december-20162 {
   color: #7e7c7c;
    text-align: left;
    font: 500 18px/36px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 0px;
   top: 389px;
    width: 251px;
   }

.enovy-mobile {
   color: #6d6d6d;
    text-align: left;
    font: 500 30px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: 350px;
    width: 441px;
   }

.sephora {
   flex-shrink: 0;
    width: 1209.46px;
    height: 132px;
    position: static;
   }

.workplace-platform-m3 {
   color: #6d6d6d;
    text-align: justified;
    font: 400 18px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 610px;
   top: 479px;
    width: 599.46px;
   }

.december-20163 {
   color: #7e7c7c;
    text-align: left;
    font: 500 18px/36px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 0px;
   top: 532px;
    width: 267.65px;
   }

.sephora2 {
   color: #6d6d6d;
    text-align: left;
    font: 500 30px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: 493px;
    width: 343.69px;
   }

.v67_40 {
   width: 554px;
   color: #6d6d6d;
   position: absolute;
   top: 362px;
   left: 737px;
   font: 400 18px/33px 'Poppins', sans-serif;
   opacity: 1;
   text-align: justified;
   }

.education {
   display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1257px;
    position: absolute;
    left: 110px;
   top: 1080px;
   }

.envoy-mobile2 {
   flex-shrink: 0;
    width: 956px;
    height: 99px;
    position: static;
   }

.workplace-platform-m4 {
   color: #6d6d6d;
    text-align: left;
    font: 400 18px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 629px;
   top: 172px;
   }

.enovy-mobile2 {
   color: #6d6d6d;
    text-align: left;
    font: 500 30px/33px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: 172px;
   }

.header {
   position: absolute;
    inset: 0;
   }

.background2 {
   background: #d8d8d8;
    opacity: 0.2217029333114624;
    width: 1119px;
    height: 713px;
    position: absolute;
    right: 0px;
   top: calc(50% - 3611px);
   }

.line {
   background: #d8d8d8;
    width: 1px;
    height: 238px;
    position: absolute;
    right: 746px;
   top: calc(50% - 3287px);
   }

.name {
   width: 459px;
    height: 323px;
    position: static;
   }

.name2 {
   color: #999999;
    text-align: left;
    font: 700 100px 'Poppins', sans-serif;
    position: absolute;
    right: 781px;
   top: calc(50% - 3427px);
    width: 459px;
    height: 323px;
   }

.menu-bar {
   width: 438px;
    height: 24.5px;
    position: static;
   }

.about {
   color: #000000;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    position: absolute;
    right: 67px;
   top: calc(50% - 3551px);
   }

.project {
   color: #000000;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    position: absolute;
    right: 243px;
   top: calc(50% - 3551px);
   }

.work2 {
   color: #000000;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    position: absolute;
    right: 362px;
   top: calc(50% - 3550.5px);
   }

.frame-1 {
   width: 100px;
    height: 100px;
    position: absolute;
    left: 891px;
   top: 6990px;
    overflow: hidden;
   }

.info-card {
   position: absolute;
    inset: 0;
   }

.background3 {
   background: #abcfdc;
    border-radius: 18px;
    width: 358px;
    height: 276px;
    position: absolute;
    left: 252px;
   top: 636px;
   }

.phone {
   width: 181.37px;
    height: 52px;
    position: absolute;
    left: 295.44px;
   top: 820px;
    overflow: hidden;
   }

._987-987-654-321 {
   color: #2e2e2e;
    text-align: left;
    font: 400 18px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: calc(50% - -1px);
    width: 181.37px;
   }

.phone2 {
   color: #6d6d6d;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: -28px;
   top: calc(50% - 26px);
    width: 79px;
   }

.role {
   width: 299px;
    height: 52px;
    position: absolute;
    left: 295px;
   top: 748px;
    overflow: hidden;
   }

.frontend-developer {
   color: #2e2e2e;
    text-align: left;
    font: 400 18px 'Poppins', sans-serif;
    position: absolute;
    left: 0px;
   top: calc(50% - -1px);
    width: 299px;
   }

.role2 {
   color: #6d6d6d;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: -22px;
   top: calc(50% - 26px);
    width: 59px;
   }

.email {
   width: 279px;
    height: 52px;
    position: absolute;
    left: 295px;
   top: 676px;
    overflow: hidden;
   }

.johndoe-example-com {
   color: #2e2e2e;
    text-align: left;
    font: 400 18px 'Poppins', sans-serif;
    position: absolute;
    left: -1px;
   top: calc(50% - -1px);
    width: 291px;
   }

.email2 {
   color: #666666;
    text-align: right;
    font: 500 16px 'Poppins', sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: -35px;
   top: calc(50% - 26px);
    width: 77px;
   }

   .v1_62 {
      width: 684px;
      height: 590px;
      background: url("../images/v1_62.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2289px;
      left: 683px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_63 {
      width: 571px;
      height: 590px;
      background: url("../images/v1_63.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2289px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_64 {
      width: 553px;
      height: 475px;
      background: url("images/v1_64.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4200px;
      left: 443px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_65 {
      width: 338px;
      height: 475px;
      background: url("../images/v1_65.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4201px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_67 {
      width: 726px;
      height: 679px;
      background: url("../images/v1_67.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2936px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_68 {
      width: 419px;
      height: 468px;
      background: url("../images/v1_68.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 3672px;
      left: 948px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v61_19 {
      width: 634px;
      height: 505px;
      background: url("../images/v61_19.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4740px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_69 {
      width: 345px;
      height: 468px;
      background: url("../images/v1_69.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 3672px;
      left: 579px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v61_20 {
      width: 281px;
      height: 468px;
      background: url("../images/v61_20.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5907px;
      left: 581px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v67_42 {
      width: 484px;
      height: 468px;
      background: url("../images/v67_42.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5909px;
      left: 883px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_70 {
      width: 477px;
      height: 468px;
      background: url("../images/v1_70.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 3674px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v61_21 {
      width: 477px;
      height: 468px;
      background: url("../images/v61_21.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5909px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_71 {
      width: 397px;
      height: 548px;
      background: url("../images/v1_71.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      
      opacity: 1;
      position: absolute;
      top: 5302px;
      left: 83px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v47_14 {
      width: 344px;
      height: 475px;
      background: url("../images/v47_14.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4200px;
      left: 1023px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v1_72 {
      width: 399px;
      height: 548px;
      background: url("../images/v1_72.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5302px;
      left: 968px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    .v47_12 {
      width: 444px;
      height: 548px;
      background: url("../images/v47_12.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5302px;
      left: 504px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    